<div id="logoAcceuil">
	<img alt="logoAcceuil.png" src="../../../public/stylesheets/blueprint/src/logoAcceuil.png"/>
</div>
</div>
<div class="main">
    <div class="header" >
      <h1>Cadeau suggestion </h1>
    </div>
 <form action="<%= link_to "Create Account", signup_path, :class => "left_form" %>" method="post">
        <ul class="left-form">
          <h2>New Account:</h2>
          <li>
            <input type="text"   placeholder="Username" required/>
            <!--<a href="#" class="icon ticker"> </a>-->
            <div class="clear"> </div>
          </li> 
          <li>
            <input type="text"   placeholder="Email" required/>
            <!--<a href="#" class="icon ticker"> </a>-->
            <div class="clear"> </div>
          </li> 
          <li>
            <input type="password"   placeholder="password" required/>
            <!--<a href="#" class="icon into"> </a>-->
            <div class="clear"> </div>
          </li> 
          <li>
            <input type="password"   placeholder="password" required/>
            <!--<a href="#" class="icon into"> </a>-->
            <div class="clear"> </div>
          </li> 
          <label class="checkbox letterBlack bold"><input type="checkbox" name="checkbox" checked=""/>I accept the <a href="#">CGU</a></label>
            <div class="clear"> </div>
	  <center><input type="submit" onclick="myFunction()" value="Create Account" /></center>
        </ul>
<<<<<<< HEAD
        
=======
        <ul class="right-form">
          <h3>Login:</h3>
          <div>
            <li><input type="text"  placeholder="Username" required/></li>
            <li> <input type="password"  placeholder="Password" required/></li>
            <center><a href="#" class="textBold">I forgot my Password!</a></center>
	       <div class="clear"> </div>
      	    <center><input class="loginButton" type="submit" onclick="myFunction()" value="Login" /></center>
          </div>
          <div class="clear"> </div>
        </ul>
>>>>>>> a577083f887b29f214753cd84cc5ffcfb4461c03
        <div class="clear"> </div>
          
      </form>
      
    </div>
